@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@100..800&display=swap');

:root {
  --border-color: hsl(185, 28%, 25%);
  --mddl-border-color: hsl(260, 25%, 30%);
  /* --fg-color: hsl(25, 48%, 41%); */
  --bg-color: hsl(185, 28%, 61%);
  --card-bg-color: hsl(120, 20%, 41%);
  --text-color: hsl(185, 2%, 90%);
  font-family: "Playpen Sans", cursive;
  background-color: var(--bg-color);
}

.card {
  display: inline-block;
  color: var(--border-color);
  border-color: var(--border-color);
  border-width: 1.5em;
  border-style: solid;
  border-radius: 2em 2em;
  text-align: center;
  background-color: var(--card-bg-color);
  /* transition: 3s; */
  width: 15em;
}

.card:hover {
  box-shadow: 0.5em 0.5em 2em hsl(180, 25%, 25%);
  scale: 1.05;
  /* transition: 2s; */
}

.card img {
  /* border: 1em solid; */
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  width: 100%;
  height: 15em;
}

.card > figcaption {
  padding: 0.5em;
  color: var(--text-color);
}

#middleCard {
  border-color: var(--mddl-border-color);
}

#cat2 {
  background-image: url(./cat2.jpg);
  background-size: cover;
  background-position: center 85%;
  background-repeat: no-repeat;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  height: 15em;
}