img {
    width: 100px
}
.card{
    display: inline-block;
    border-width: .1em;
    border-style: solid;
    border-radius: 2em;
    padding: .5em;
}

#middleCard {
    border-color: hsl(240, 100%, 50%);
}