@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

:root {
  --fg-color: hsl(25, 48%, 41%);
  --bg-color: hsl(186, 28%, 61%);
  --card-bg-color: hsl(120, 21%, 52%);
  --text-color: hsl(0, 6%, 94%);
  font-family: "SUSE", sans-serif;
}

img {
  border-radius: 0.2em;
}
.card {
  display: inline-block;
  color: var(--fg-color);
  border-color: hsl(240, 20%, 18%);
  border-width: 1em;
  border-style: solid;
  border-radius: 0.5em;
  text-align: center;
  background-color: var(--card-bg-color);
  transition: 3s;
  width: 15em;
}

.card:hover {
  box-shadow: 0.5em 0.5em 2em hsl(180, 25%, 25%);
  scale: 1.05;
  transition: 2s;
}

.card img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
  height: 15em;

}

.card > figcaption {
  padding: 0.5em;
  color: var(--text-color);
}


